<div class="row">
    <div class="col-sm-12">
      <h1>Similar movies</h1>
    </div>
  </div>

  <div class="row">
    <div  class="col-sm-4" *ngFor="let movie of similar_movies; let i = index">
      <div *ngIf="i < 6">
        <div class="card mt-3 mb-3">
          <div class="card-header text-center">
            {{ movie.release_date | date:'mediumDate' }}
          </div>
          <div class="card-body">
            <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}" style="height: 460px">
            <p class="text-center">{{ movie.original_title }}</p>
            <a routerLink="/movie/{{ movie.id}}" href="#" class="btn btn-block btn-outline-secondary">Movie Details</a>
            <a  class="btn btn-block btn-outline-secondary">Add to favorite</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-12">
        <h1>Recommendations</h1>
      </div>
    </div>
  
    <div class="row">
      <div  class="col-sm-4" *ngFor="let movie of recommendations; let i = index">
        <div *ngIf="i < 6">
          <div class="card mt-3 mb-3">
            <div class="card-header text-center">
              {{ movie.release_date | date:'mediumDate' }}
            </div>
            <div class="card-body">
              <img class="card-img-top img-fluid" src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="{{ movie.original_title }}" style="height: 460px">
              <p class="text-center">{{ movie.original_title }}</p>
              <a routerLink="/movie/{{ movie.id}}" href="#" class="btn btn-block btn-outline-secondary">Movie Details</a>
              <a class="btn btn-block btn-outline-secondary">Add to favorite</a>
            </div>
          </div>
        </div>
      </div>
    </div>